.testing {
  width: 71.42857%; }

body {
  background: red; 
  padding: 2rem 0rem;
}
a {
  font-style: white; }

.header img {
  width: 100%; }

.logo-title {
  display: flex; }
  .logo-title h1 {
    margin-left: 50px;
    margin-top: 50px; }
  .logo-title .card {
    margin: 20px; }

footer {
  display: flex;
  justify-content: space-around;
  max-width: 100%; }
